body {
  padding: 10px;
}

/* Auction */

.auction-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.auction {
  margin: 24px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

.auction img {
  width: 100%;
  max-height: 300px;
  min-height: 300px;
  min-width: 100%;
  max-width: 100%;
  object-fit: cover;
  background-color: gray;
}

.auction section {
  margin: 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.auction-title {
  margin-bottom: 8px;
}

.auction-price {
  font-weight: bold;
}

/*  */

/* Comment */

.comment-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.comment {
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

/* Button */

.watchlist-button {
  margin-bottom: 32px;
  padding: 8px 16px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.watchlist-button:hover {
  background-color: #e0e0e0;
}

.watchlist-button--active {
  background-color: lime;
}

.close-button {
  margin-left: 12px;
  margin-bottom: 32px;
  padding: 8px 16px;
  border: none;
  background-color: red;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.close-button:hover {
  background-color: #ff6666;
}

/* Messages */

.messages {
  margin: 24px 0;
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.messages--error {
  background-color: #ffcccc !important;
}

.messages--success {
  background-color: #ccffcc !important;
}
