{% extends "auctions/layout.html" %} 
{% load static %}


{% block body %}

<div style="display: flex; box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);">
	<img src="{{auction.image_url}}" alt="photo {{auction.title}}" style="width: 400px; height: 600px; object-fit: cover;">

	<div style="margin: 16px 48px;">
		<h2 style="margin-bottom: 32px;">Listing: {{auction.title}}</h2>
		<div style="display: flex; flex-direction: column; gap: 16px;">
			<div>{{auction.description}}</div>
			<div style="font-weight: bold; font-size:x-large;">
				$ {% if auction.highest_bid %}
					{{auction.highest_bid}}
				{% else %}
					{{auction.start_price}}
				{% endif %}
			</div>
			<div>
				{{bids}} bid(s) so far.
				<span>
					{% if auction.highest_bid.user == user %}
						<p>Your bid is the current bid.</p>
					{% elif auction.highest_bid.user %}
						<p>Current bid by {{auction.highest_bid.user}}</p>
					{% else %}
						<p>No bids yet.</p>
					{% endif %}
				</span>
			</div>

			<form action="{% url 'place_bid' auction.id %}" method="post">
				{% csrf_token %}
				<input type="number" name="amount" step="any" min={{auction.start_price}}>
				<input type="submit" value="Place Bid">
			</form>

			<div style="margin-top: 24px;">
				<h3>Details</h3>
				<ul>
					<li>
						<label for="">Listed by:</label>
						<a href="">{{auction.user}}</a>
					</li>
					<li>
						<label for="">Category:</label>
						<span>{{auction.category}}</span>
					</li>
				</ul>
			</div>

			<div>
				<h5>Comments</h5>
				<div>
					<form action="{% url 'place_comment' auction.id %}" method="post" style="margin-bottom: 24px;">
						{% csrf_token %}
						<textarea name="message" rows="5" style="width: 100%;padding: 12px;" placeholder="Write a comment"></textarea>
						<input type="submit" value="Comment">
					</form>
				</div>
				<div class="comment-container">
					{% for comment in comments %}
						<section class="comment">
							<strong>{{comment.user}}</strong>
							<p>{{comment.message}}</p>
						</section>
						{% empty %}
						<p>No comments yet.</p>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
